
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>


    $(document).ready(function () {
        OrderList();

    });

    // Получение всех клиентов по ajax-запросу
    function ClientList() {
        $("#EditClientForm").hide();
        $("#mainBlock").html("");
        $("#AddClientForm").hide();
        $.ajax({
            url: '/api/ClientAPI/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                WriteClientList(data);

            }
        });

        $("#ViewClient").hide();
        $("#mainBlock").show();
        $("#AddClientButton").show();
        $("#AddServiceForm").hide();

    }

    function OrderList() {
        $("#mainBlock").html("");
        $("#AddOrderForm1").hide();
        $("#EditOrderForm1").hide();
        
        $.ajax({
            url: '/api/OrderAPI/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                WriteOrderList(data);


            }
        });

        $("#ViewClient").hide();
        $("#mainBlock").show();
        $("#AddOrderButton").show();
        $("#AddServiceForm").hide();
    }


    function WriteOrderList(orders) {
        var strResult = "<div><a class='btn btn-default' id='AddOrderButton' onclick='AddOrderCall()();'>Добавить заказ</a></div>" +
            "<p></p> <table class='table'><tr><th>Номер заказа</th><th>Id Клиента</th><th>Тип услуги</th><th>Адрес</th><th>Площадь газона</th><th>Стоимость</th><th>Время заказа</th><th></th></tr>";
        $.each(orders, function (index, order) {
            strResult += "<tr><td>" + order.idOrder + "</td><td>" + order.idClient + "</td><td>" + order.nameService + "</td><td>" + order.lawnAdress + "</td><td>" + order.lawnArea + "</td><td>" + order.totalCost + "</td><td>" + order.orderTime +

                "<a data-item='" + order.idOrder + "' onclick='ViewOrder(this);'>Детализация</a> | " +
                "<a data-item='" + order.idOrder + "' onclick='EditOrderCall(this);'>Изменение</a> | " +
                "<a data-item='" + order.idOrder + "' onclick='DeleteOrder(this);'>Удаление</a> </td> </tr>"
                ;
        });
        strResult += "</table>";
        $("#mainBlock").html(strResult);
        $("#mainBlock").show();

    }



    function ViewClient(el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-item');

        $.ajax({
            url: '/api/ClientAPI/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var str = "<div><div class='dl-horizontal'><h4>Детализация по клиенту</h4>" +
                    "<table class='table-condensed'>" +
                    "<tr><td class='control-label col-md-2'>ID Клиента</td><td class='col-md-10'>" + data.idClient + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Имя клиента</td><td class='col-md-10'>" + data.clientName + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Номер телефона</td><td class='col-md-10'>" + data.clientPhone + "</td></tr>" +
                    "</table></div><p></p><a onclick='ClientList();' class='btn btn-default'>Назад</a></div>"
                $("#mainBlock").html(str);
            }
        });
    }

    function ViewService(el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-item');

        $.ajax({
            url: '/api/ServiceTypeAPI/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var str = "<div><div class='dl-horizontal'><h4>Детализация услуги</h4>" +
                    "<table class='table-condensed'>" +
                    "<tr><td class='control-label col-md-2'>Название</td><td class='col-md-10'>" + data.nameService + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Цена</td><td class='col-md-10'>" + data.priceService + "</td></tr>" +
                    "</table></div><p></p><a onclick='ServiceList();' class='btn btn-default'>Назад</a></div>"
                $("#mainBlock").html(str);
            }
        });
    }

    function ViewOrder(el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-item');

        $.ajax({
            url: '/api/OrderApi/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var str = "<div><div class='dl-horizontal'><h4>Детализация по заказу</h4>" +
                    "<table class='table-condensed'>" +
                    "<tr><td class='control-label col-md-2'>Номер заказа</td><td class='col-md-10'>" + data.idOrder + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Id Клиента</td><td class='col-md-10'>" + data.idClient + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Тип услуги</td><td class='col-md-10'>" + data.nameService + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Адрес</td><td class='col-md-10'>" + data.lawnAdress + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Площадь газона</td><td class='col-md-10'>" + data.lawnArea + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Стоимость</td><td class='col-md-10'>" + data.totalCost + "</td></tr>" +
                    "<tr><td class='control-label col-md-2'>Время заказа</td><td class='col-md-10'>" + data.orderTime + "</td></tr>" +

                    "</table></div><p></p><a onclick='OrderList();' class='btn btn-default'>Назад</a></div>"
                $("#mainBlock").html(str);
            }
        });
    }

    function DeleteClient(el) {
        var id = $(el).attr('data-item');
        $.ajax({
            url: '/api/ClientAPI/' + id,
            type: 'DELETE',
            dataType: 'json',
            //contentType: "application/json;charset=utf-8",
            success: function (data) {
                ClientList();
            }
        });
    }

    function DeleteService(el) {
        var id = $(el).attr('data-item');
        $.ajax({
            url: '/api/ServiceTypeAPI/' + id,
            type: 'DELETE',
            dataType: 'json',
            success: function (data) {
                ServiceList();
            }
        });
    }

    function DeleteOrder(el) {
        var id = $(el).attr('data-item');
        $.ajax({
            url: '/api/OrderApi/' + id,
            type: 'DELETE',
            dataType: 'json',
            //contentType: "application/json;charset=utf-8",
            success: function (data) {
                OrderList();
            }
        });
    }


    function AddClientCall() {
        $("#AddClientForm").show();
        $("#mainBlock").html("");
        $("#mainBlock").hide();
    }

    function AddClient() {
        var client = {
            clientPhone: $('#clientPhone').val(),
            clientName: $('#clientName').val(),
        };

        $.ajax({
            url: '/api/ClientAPI/',
            type: 'POST',
            data: JSON.stringify(client),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#AddClientForm').hide();
                ClientList();
                $("#clientPhone").val('');
                $("#clientName").val('');

            }
        });

    }

    function AddServiceCall() {
        $("#AddServiceForm").show();
        $("#mainBlock").html("");
        $("#mainBlock").hide();
    }

    function EditServiceCall(el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-item');

        $.ajax({
            url: '/api/ClientAPI/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#nameServiceEdit").val(data.nameService);
                $("#priceServiceEdit").val(data.priceService);

                $("#mainBlock").hide();
                $("#EditServiceForm").show();
                $("#AddServiceButton").hide();

            }
        });
    }

    function EditClientCall(el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-item');

        $.ajax({
            url: '/api/ClientAPI/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#nameClientEdit").val(data.clientName);
                $("#clientPhoneEdit").val(data.clientPhone);
                $("#idClientEdit").val(data.idClient);
                $("#mainBlock").hide();
                $("#EditClientForm").show();
                $("#AddServiceButton").hide();

            }
        });
    }

    function AddService() {
        var service = {
            nameService: $('#nameService').val(),
            priceService: $('#priceService').val(),
        };

        $.ajax({
            url: '/api/ServiceTypeAPI/',
            type: 'POST',
            data: JSON.stringify(service),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#AddServiceForm').hide();
                ServiceList();
                $("#nameService").val('');
                $("#priceService").val('');

            }
        });

    }


    function WriteClientList(clients) {
        var strResult = "<div><a class='btn btn-default' id='AddClientButton' onclick='AddClientCall();'>Добавить Клиента</a></div>" +
            "<p></p> <table class='table'><tr><th>ID клиента</th><th>Имя клиента</th><th>Телефон</th><th></th></tr>";
        $.each(clients, function (index, client) {
            strResult += "<tr><td>" + client.idClient + "</td><td>" + client.clientName + "</td><td>" + client.clientPhone + "</td><td>" +

                "<a data-item='" + client.idClient + "' onclick='ViewClient(this);'>Детализация</a> | " +
                "<a data-item='" + client.idClient + "' onclick='EditClientCall(this);'>Изменение</a> | " +
                "<a data-item='" + client.idClient + "' onclick='DeleteClient(this);'>Удаление</a> </td> </tr>"
                ;
        });
        strResult += "</table>";
        $("#mainBlock").html(strResult);

    }

    function ServiceList() {
        $("#mainBlock").html("");
        $("#EditServiceForm").hide();
        $('#AddServiceForm').hide();
        $.ajax({
            url: '/api/ServiceTypeAPI/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                WriteServiceList(data);

            }
        });
    }

    function EditClientSave() {

        var service = {
            clientName: $('#nameClientEdit').val(),
            idClient: $('#idClientEdit').val(),
            clientPhone: $('#clientPhoneEdit').val(),
        };

        $.ajax({
            url: '/api/ClientAPI/'/* + id*/,
            type: 'PUT',
            data: JSON.stringify(service),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#nameClientEdit").val('');
                $("#idClientEdit").val('');
                $("#clientPhoneEdit").val('');
                $("#EditClientForm").hide();
                ClientList();
            }
        });
    }


    function EditServiceSave() {
        //var id = $('#nameServiceEdit').val();

        var service = {
            nameService: $('#nameServiceEdit').val(),
            priceService: $('#priceServiceEdit').val(),
        };

        $.ajax({
            url: '/api/ServiceTypeAPI/'/* + id*/,
            type: 'PUT',
            data: JSON.stringify(service),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#nameServiceEdit").val('');
                $("#priceServiceEdit").val('');
                $("#EditServiceForm").hide();
                ServiceList();
            }
        });
    }

    function WriteServiceList(services) {
        $("#AddClientForm").hide();

        var strResult = "<div><a class='btn btn-default' id='AddServiceButton' onclick='AddServiceCall();'>Добавить услугу</a></div><p></p><table class='table'><tr><th>Название</th><th>Цена</th><th></th></tr>";
        $.each(services, function (index, service) {
            strResult += "<tr><td>" + service.nameService + "</td><td>" + service.priceService + "</td><td>" +

                "<a data-item='" + service.nameService + "' onclick='ViewService(this);'>Детализация</a> | " +
                "<a data-item='" + service.nameService + "' onclick='EditServiceCall(this);'>Изменение</a> | " +
                "<a data-item='" + service.nameService + "' onclick='DeleteService(this);'>Удаление</a> </td> </tr>"
                ;
        });
        strResult += "</table>";
        $("#mainBlock").html(strResult);
        $("#mainBlock").show();

    }



    function AddOrder() {
        var order = {
            lawnAdress: $('#lawnAdressAdd').val(),
            lawnArea: $('#lawnAreaAdd').val(),
            idClient: $('#idClientAdd').val(),
            nameService: $('#nameServiceAdd').val(),
        };

        $.ajax({
            url: '/api/OrderAPI/',
            type: 'POST',
            data: JSON.stringify(order),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#AddOrderForm').hide();
                OrderList();

            }
        });


    }

    function AddOrderCall() {
        $("#AddOrderForm1").show();
        $("#mainBlock").html("");
        $("#mainBlock").hide();

        $.ajax({
            url: '/api/ServiceTypeAPI/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var strResult1 = "";
                strResult1 += "<label class='control-label col-md-2' for=''>Услуга</label><select class='form-control' id='nameServiceAdd' name='qqq'>";
                $.each(data, function (index, service) {
                    strResult1 += "<option value='" + service.nameService + "'>" + service.nameService + "</option>";
                });
                strResult1 += "</select>";
                $("#AddOrderForm2").html(strResult1);
            }
        });

        $.ajax({
            url: '/api/ClientAPI/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var strResult2 = "";
                strResult2 += "<label class='control-label col-md-2' for=''>Клиент</label><select class='form-control' id='idClientAdd'>";
                $.each(data, function (index, client) {
                    strResult2 += "<option value='" + client.idClient + "'>" + client.clientName + "</option>";

                });
                strResult2 += "</select>";
                $("#AddOrderForm3").html(strResult2);
            }
        });



    }

    function EditOrderCall(el) {
        // получаем id редактируемого объекта
        $("#EditOrderForm1").show();
        $("#mainBlock").html("");
        $("#mainBlock").hide();
        var id = $(el).attr('data-item');

        $.ajax({
            url: '/api/OrderAPI/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
            $("#lawnAdressEdit").val(data.lawnAdress);
            $("#lawnAreaEdit").val(data.lawnArea);
            $('#idClientEdit').val(data.idClient);
                $('#dateOrderEdit').val(data.orderTime);
                $('#idOrderEdit').val(data.idOrder);


                 
                $("#mainBlock").hide();
                $("#EditOrderForm").show();
                $("#AddServiceButton").hide();

            }
        });

        $.ajax({
            url: '/api/ServiceTypeAPI/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var strResult1="";
                strResult1 += "<label class='control-label col-md-2' for=''>Услуга</label><select class='form-control' id='nameServiceOrderEdit'>";
                $.each(data, function (index, service) {
                    strResult1 += "<option value='" + service.nameService + "'>" + service.nameService + "</option>";
                });
                strResult1 += "</select>";
                $("#EditOrderForm2").html(strResult1);
            }
        });

        $.ajax({
            url: '/api/ClientAPI/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var strResult2="";
                strResult2 += "<label class='control-label col-md-2' for=''>Клиент</label><select class='form-control' id='idClientOrderEdit'>";
                $.each(data, function (index, client) {
                    strResult2 += "<option value='" + client.idClient + "'>" + client.clientName + "</option>";

                });
                strResult2 += "</select>";
                $("#EditOrderForm3").html(strResult2);
            }
        });
    }

    function EditOrderSave() {
        var order = {
            lawnAdress: $('#lawnAdressEdit').val(),
            lawnArea: $('#lawnAreaEdit').val(),
            idClient: $('#idClientOrderEdit').val(),
            nameService: $('#nameServiceOrderEdit').val(),
            idOrder: $('#idOrderEdit').val(),
            orderTime: $('#dateOrderEdit').val(),
        };

        $.ajax({
            url: '/api/OrderAPI/'/* + id*/,
            type: 'PUT',
            data: JSON.stringify(order),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
            OrderList();
            }
        });


    }

</script>


<div>
    <h2>Работа с API</h2>
    <div class="form-group">
        <a class="btn btn-default" id="ViewOrdersButton" onclick='OrderList();'>Заказы</a>

        <a class="btn btn-default" id="ViewClientsButton" onclick='ClientList();'>Клиенты</a>

        <a class="btn btn-default" id="ViewSeviceButton" onclick='ServiceList();'>Услуги</a>

        <a class="btn btn-default" id="TestButton" onclick='Test();'>Test</a>
    </div>
    <hr />
</div>
<div id="testBlock"></div>
<div id="mainBlock"></div>


<div id="AddClientForm" style="display:none">

    <h2>Добавление клента</h2>

    <hr>

    <div class="form-group">
        <label class="control-label col-md-2" for="">Имя клиента</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="clientName" name="clientName" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="clientName" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="">Телефон клиента</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="clientPhone" name="clientPhone" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="clientPhone" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input value="Добавить" class="btn btn-success btn-sm" onclick="AddClient();" />
        </div>
    </div>
    <div>
        <a class="btn btn-default" onclick='ClientList();'>Назад</a>
    </div>
</div>

<div id="AddServiceForm" style="display:none">

    <h2>Добавление</h2>

    <div class="form-horizontal">

        <hr>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Название</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="nameService" name="nameService" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="nameService" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Цена за кв метр</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Значением поля priceService должно быть число." data-val-required="Требуется поле priceService." id="priceService" name="priceService" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="priceService" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Добавить" class="btn btn-success btn-sm" onclick="AddService();" />
            </div>
        </div>
    </div>

    <div>
        <a class="btn btn-default" onclick='ServiceList();'>Назад</a>
    </div>


    <hr>

</div>

<div id="AddOrderForm1" style="display:none" >

    <div class="container body-content">

        <h2>Создание заказа</h2>

        <hr>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Адрес</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="lawnAdressAdd" name="lawnAdress" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="lawnAdress" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Площадь</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Значением поля lawnArea должно быть число." data-val-required="Требуется поле lawnArea." id="lawnAreaAdd" name="lawnArea" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="lawnArea" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div id="AddOrderForm2" value=""></div>
        <div id="AddOrderForm3" value=""></div>
        <p></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Добавить" class="btn btn-success btn-sm" onclick="AddOrder();" />
            </div>
        </div>
        <div>
            <a class="btn btn-default" onclick='OrderList();'>Назад</a>
        </div>
    </div>

</div>

<div id="EditServiceForm" style="display:none">



    <h2>Редактирование</h2>
    @*<h4 id="nameService" value=""></h4>*@

    <div class="form-horizontal">
        <hr>

        <input id="nameServiceEdit" type="hidden" />

        <div class="form-group">
            <label class="control-label col-md-2" for="">Цена за кв метр</label>
            <div class="col-md-10">
                <input input type="text" class="form-control" id="priceServiceEdit">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Сохранить" class="btn btn-default" onclick="EditServiceSave();">
            </div>
        </div>
        <div>
            <a class="btn btn-default" onclick='ServiceList();'>Назад</a>
        </div>
    </div>
    <hr>
</div>

<div id="EditClientForm" style="display:none">

    <h2>Изменение данных клиента</h2>
    @*<h4 id="nameService" value=""></h4>*@

    <div class="form-horizontal">
        <hr>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Имя клиента</label>
            <div class="col-md-10">
                <input input type="text" class="form-control" id="nameClientEdit">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Телефон</label>
            <div class="col-md-10">
                <input input type="text" class="form-control" id="clientPhoneEdit">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Сохранить" class="btn btn-default" onclick="EditClientSave();">
            </div>
        </div>
        <div>
            <a class="btn btn-default" onclick='ClientList();'>Назад</a>
        </div>
    </div>
    <hr>

</div>

<div id="EditOrderForm1" style="display:none">

    <div class="container body-content">
        <input id="idOrderEdit" type="hidden" />
        <input id="idClientEdit" type="hidden" />
        <input id="dateOrderEdit" type="hidden" />
        <h2>Изменение заказа</h2>

        <hr>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Адрес</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="lawnAdressEdit" name="lawnAdress" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="lawnAdress" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="">Площадь</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Значением поля lawnArea должно быть число." data-val-required="Требуется поле lawnArea." id="lawnAreaEdit" name="lawnArea" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="lawnArea" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div id="EditOrderForm2" value="">   </div>
        <div id="EditOrderForm3" value="">   </div>
        <p></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Сохранить" class="btn btn-success btn-sm" onclick="EditOrderSave();" />
            </div>
        </div>
        <div>
            <a class="btn btn-default" onclick='OrderList();'>Назад</a>
        </div>
    </div>

</div>


